<!-- @format -->

{% extends "base.html" %} 
    {% load wagtailcore_tags wagtailimages_tags %} 
    {% block body_class %}template-blogpage{% endblock %} 
    {% block content %}
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{page.title}}</h1>
          <span class="meta"> Posted on {{page.date}} </span>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <article class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for block in page.body %} 
                {% if block.block_type == 'image' %}
                    {% image block.value max-1000x500 %}
                {% else %} 
                    {% include_block block %}
                {% endif %}
            {% endfor %}
          

          {% if page.tags.all.count %}
          <div class="tags">
            <h3>visit more articles with these tags:</h3>
            {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}">#{{ tag }}</a>
            {% endfor %}
          </div>
          {% endif %} {% endblock %}
        </div>
      </div>
    </div>
  </article>
</section>
